.meals {
  max-width: 60rem;
  margin: 2rem auto;
  width: 90%;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mealsLoading {
  text-align: center;
}
.mealsError {
  text-align: center;
  color: red;
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
