.summary {
  text-align: center;
  background-color: #383838;
  color: #fff;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.25);
  max-width: 45rem;
  margin: auto;
  margin-top: -10rem;
  width: 90%;
  position: relative;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}
